

### Mac OS ###
#
## General
.DS_Store

### CLion ###
## Complier

#greedy
/greedy/cmake-build-debug/
/greedy/CMakeLists.txt
/greedy/.vscode/
/greedy/main.exe


### Projects ###
# etc Project
/untitled/